/* reset styles */

@import url(reset_styles.css);

/* import from wide_screen_nav.css 
                                */

@import url(wide_screen_nav.css);

/* import from mobile_screen_nav.css 
                                    */
@import url(./mobile_screen_nav.css);

/* main blog styles  */

.main-blog_wrapper {
  width: 100%;
  background-color: #fff;
  z-index: 0;
}

.main-blog-normal_width {
  max-width: 1080px;
  padding: 0 1rem;
  margin: 0 auto;
  box-sizing: content-box;
  margin-top: 1.2rem;
}

.blog_feature {
  border-radius: 5px;
}

.blog-figure_wrapper {
  width: 100%;
}

.figure_container > .figure_link {
  width: 100%;
  display: block;
}

.figure_link > .blog-figure_img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 3px 3px 0 0;
}

.blog-bottom-content_wrapper {
  margin: 0;
  background-color: #eaf0f6;
  position: relative;
  min-height: 230px;
  border-radius: 0 0 3px 3px;
}

.blog-bottom-content-heading_link {
  display: block;
  padding: 1.25rem 1.25rem 3rem;
  font-size: 2rem;
  font-weight: 600;
  box-sizing: border-box;
  color: var(--text-color);
  line-height: 2.5rem;
}

.blog-content_meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.75rem;
  font-weight: 600;
}

.blog-bottom-meta-web_link {
  padding: 1rem 0 1rem 1rem;
  color: var(--text-color);
}

.blog-bottom-meta-read_link {
  padding: 1rem 1rem 1rem 0;
  color: var(--text-color);
}

/* .blog_feature:hover {
  transform: scale(1.015);
} */

.blog-post_listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}

.blog_card {
  box-sizing: border-box;
  min-height: 475px;
  max-width: 100%;
  background-color: #eaf0f6;
  cursor: pointer;
  backface-visibility: hidden;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.blog-post-one_third {
  /* min-width: 230px; */
  width: 31%;
  flex-grow: 1;
}

.blog-post-two_third {
  width: 63%;
  flex-grow: 1;
}

.blog-post_meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.75rem;
  font-weight: 600;
}
.figure_link {
  display: block;
  width: 100%;
  height: 100%;
}

.blog_img {
  width: 100%;
  height: 100%;
}
.topic_link {
  display: block;
  color: var(--text-color);
  padding: 1rem 1rem 0;
  margin-left: 5px;
  font-weight: 600;
}

.blog-post-title_link {
  display: block;
  padding: 1.25rem 1.25rem 3rem;
  font-size: 2rem;
  font-weight: 600;
  box-sizing: border-box;
  color: var(--text-color);
  line-height: 2.5rem;
  min-height: 230px;
}

.blog-post_meta .meta_web {
  padding: 1rem 0 1rem 1rem;
  color: var(--text-color);
}

.blog-post_meta .meta_read {
  padding: 1rem 1rem 1rem 0;
  color: var(--text-color);
}

.side-blog_post {
  background: linear-gradient(to bottom, #22b9a3, #00a4bc);
}

.side-blog_post span {
  display: flex;
  justify-content: center;
}

.blog-post-aside_content {
  position: relative;
}
.aside_link {
  display: block;
  text-align: center;
  color: #fff;
}

.aside_link:hover {
  text-decoration: underline solid 3px;
  text-underline-offset: 3px;
}
.aside_link:hover ~ .aside-content_footer a {
  text-decoration: underline;
}

.aside-content_heading {
  font-size: 3rem;
  min-height: 100%;
  line-height: 4.5rem;
  padding: 4rem 3rem;
}

.aside-content_footer {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.aside-content_footer a {
  color: #fff;
  font-size: 12px;
}

/* subscribe blog styles  */
.blog-post-subscribe_form {
  background-image: linear-gradient(45deg, #f2545b, #ff7a59);
  position: relative;
  color: #fff;
}
.subscribe-from_reset {
  padding: 1rem;
}

.blog-post-subscribe_form::before {
  content: "";
  width: 70%;
  height: 50%;
  display: block;
  position: absolute;
  background-image: url(../images/update-images/topCircles.svg);
  background-position: -40px -20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.blog-subscribe-form_heading {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 2px solid #fff;
}

.blog-subscribe-form_items {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.form_checkbox {
  /* display: none; */
  margin-right: 0.5rem;
}
.form_item {
  min-width: 46%;
  position: relative;
}

#form_checkbox::before {
  content: "";
  width: 1rem;
  height: 1rem;
  display: block;
  position: absolute;
  background-color: #fff;
  top: 0%;
  left: 0%;
}

.form-email-input_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-email_label {
  width: 100%;
  display: block;
}

#form-email_input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  outline: none;
  border: 0;
  margin-top: 5px;
  border-radius: 3px;
  font-weight: lighter;
  color: rgb(138, 126, 126);
  letter-spacing: 1px;
}

#form-email_input:focus {
  outline: 2px solid #000;
}
.form_paragaph {
  font-size: 0.9rem;
  margin-top: 1rem;
  line-height: 1.5rem;
}
.privacty_policy {
  color: #fff;
  text-decoration: underline;
}

.form_button {
  margin-top: 0.5rem;
  background-color: #fff;
  border: 0;
  padding: 1rem;
  width: 100%;
  border-radius: 3px;
  color: rgb(12, 45, 51);
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

@media screen and (max-width: 765px) {
  .blog-post-one_third {
    min-width: 100%;
    flex-grow: 1;
  }

  .blog-post-two_third {
    min-width: 100%;
    flex-grow: 1;
  }
  .blog-post_listing {
    flex-direction: column;
  }
}

/* pagination styles 
                       */

section.blog_pagination {
  padding: 2rem 0;
}
section.blog-pagination-width_normal {
  padding: 1rem;
}
ul.blog-pagination-list_items {
  display: flex;
  justify-content: center;
  align-items: center;
}
a.bp_button {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #0091ae;
  margin-left: 3rem;
}
a.bp_button:nth-of-type(1) {
  margin-right: 3rem;
}

.bp_button img {
  width: 8px;
  height: 8px;
}
a.bp_button.prev_button.no-page_left {
  color: #cbd6e2;
  font-weight: 600;
  cursor: not-allowed;
}
.next_page {
  font-weight: bold;
}

a.number_content {
  padding: 0.4rem 0.8rem;
  margin-right: 3rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: #0091ae;
}
a.number_content.active_page {
  border: 1px solid #0091ae;
  background-color: rgb(234 240 246);
  border-radius: 4px;
}

.blog-pagination_item:nth-last-of-type(2) a.number_content {
  margin-right: 0;
}

/* blog visit feature  */

section.blog-visit_feature {
  border-top: 3px solid #bbbfc3;
}

h3.bv_heading::before {
  content: "";
  display: block;
  position: absolute;
  width: 140px;
  height: 50px;
  background: url(../images/orange-circles.webp);
  bottom: 74px;
  left: 50%;
  transform: translate(-50%);
}

h3.bv_heading {
  font-size: 2rem;
  color: #33475b;
  text-align: center;
  margin-top: 5rem;
  padding: 1rem;
  position: relative;
}

section.bv-box_wrapper {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0.8rem;
}

.bv-box_item {
  width: calc(33.3% - 2rem);
  background-color: #ff7a59;
  border-radius: 3px;
  overflow: hidden;
  min-height: 300px;
}

.vb-box_link {
  display: block;
  width: 100%;
}

.bv-box_img {
  width: 100%;
  height: 100%;
}

.bv-box_content {
  padding: 1rem;
}

.bv-box_content h3 {
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 0.5rem;
}

.bv-box_content p {
  color: #fff;
  font-size: 0.9rem;
}

/* bottom subscribe form styles  */

#bottom-subscribe_form {
  min-width: 100%;
  margin-top: 2rem;
  min-height: auto;
}
#bottom-subscribe_form::before {
  content: "";
  width: 70%;
  height: 50%;
  display: block;
  position: absolute;
  background-image: url(../images/update-images/topCircles.svg);
  background-position: -40px -20px;
  background-repeat: no-repeat;
  background-size: contain;
}

#bottom-subscribe_form::after {
  content: "";
  width: 70%;
  height: 50%;
  display: block;
  position: absolute;
  bottom: -4%;
  left: 86%;
  background-image: url(../images/update-images/bottomCircles.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.bsf-form_reset {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  padding: 2rem;
}

section.bottom-subscribe-form_left {
  padding: 4rem;
  max-width: 40%;
  min-width: 40%;
  text-align: left;
}
h3.bsf-right_title {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 600;
}
p.bsf-right_paragaph {
  padding-top: 1rem;
  line-height: 2rem;
}
section.bottom-subscribe-form_right {
  margin-top: 2.5rem;
}
section.bsf-input-btn_wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -0.7rem;
}

#form-email_input.bsf_input {
  min-width: 60%;
  padding: 1rem;
  height: 2rem;
}

button.bsf_button.form_button {
  min-width: 30%;
  padding: 0.8rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 765px) {
  #bottom-subscribe_form {
    display: none;
  }

  .mobile-view_none {
    display: none;
  }
  a.bp_button:nth-of-type(1) {
    margin-right: 0;
  }

  .bv-box_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bv-box_item {
    width: 95%;
  }
}
